html {
        padding: 6%;
    background: linear-gradient(0deg, rgb(49, 139, 139) 0%, rgba(77, 197, 201, 0.726) 40%, rgba(84, 193, 197, 0.699) 60%, rgb(86, 197, 201) 100%);
    font-size: 120%;
}
div#contenu{
background-color: azure;
border: solid black 1px;
}
div#titres{
margin: 4%;
}